{% extends 'base.html.twig' %}

{% block title %}Edit Categorieblog{% endblock %}

{% block body %}
    <h1>Edit Categorieblog</h1>

    {{ include('backend/categorieblog/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
