{% extends 'base.html.twig' %}

{% block title %}Edit Categorieblog{% endblock %}

{% block body %}
    <h1>Edit Categorieblog</h1>

    {{ include('backend/categorieblog/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorieblog_index') }}">back to list</a>

    {{ include('backend/categorieblog/_delete_form.html.twig') }}
{% endblock %}
